:root{
    --pink-color: rgb(254, 146, 164);
    --lightgray: rgb(167, 165, 165);
}
*{
    margin: 0px;
    padding: 0px;
}

.header1{
    border: 1px solid;
    width: auto;
    align-items: center;
    color: var(--lightgray);
}
.header1 i{
    margin: 0.5%;
}
.p_mid{
    display: inline-block;
    margin-left: 25%;
}
.p_right{
    display: flex;
    float: right;
    padding: 0.2% 2%;
}
.header2{
    border: 1px solid lightgray;
    /* height: 10%; */
    width: auto;
    display: flex;
    align-items: center;
    
}
.header2 .logo{
    color: var(--pink-color);
    padding: 2%;
    padding-right: 7%;
    font-size: xx-large;
}
.header2 input{
    height: 5vh;
    width: 60%;
    border-radius: 5vh;
    border-width: 1px;
}
.header2_right{
    /* border: 1px solid; */
    width: 15%;
    padding-left: 10%;
}
#right{
    padding: 6%;
    font-size: auto;
}
.category{
    /* border: 1px solid; */
    color:blueviolet;
    display: flex;
    justify-content: center;
    /* position: sticky; */
    /* top: 0; */
}
.category p{
    padding: 1% 2%;
}

.big_img{
    width: 100%;
}
.mid_img_div{
    position: relative;
}
.texr_on_big_pic_p{
    color: var(--pink-color);
    position: absolute;
    left: 10%;
    top: 58%;
}
.texr_on_big_pic_h1{
    position: absolute;
    left: 10%;
    top: 61%;
}
.texr_on_big_pic_h12{
    position: absolute;
    left: 10%;
    top: 66%;
}
.texr_on_big_pic_h2{
    color: rgb(157, 156, 156);
    position: absolute;
    left: 10%;
    top: 72%;
}
.texr_on_big_pic_button{
    background-color: var(--pink-color);
    border: 5px solid var(--pink-color);
    color: white;
    border-radius: 2vh;
    position: absolute;
    left: 10%;
    top: 78%;
}
.horizontal_div{
    /* border:  1px solid; */
    width: 100%;
    height: 20vh;
    display: flex;
    padding: 6vh 0vh;
    padding-right: inherit;
    padding-top: inherit;
}
.small_box{
    border: 1px solid lightgray;
    height: 10vh;
    width: 40vh;
    display: flex;
    align-items: center;
    margin: 5% 1%;
    border-radius: 2vh;
}
.small_img{
    border: 1px solid rgb(151, 151, 151);
    background-color: lightgray; 
    height: 55%;
    margin-left: 7%;
}
.small_box h5{
    margin-top: -9%;
    margin-left: 5%;
}
.small_box h6{
    margin-top: 9%;
    margin-left: -44%;
    color: var(--pink-color);
}
.mid_big_div{
    display: flex;
    margin-left: 21%;
    margin-top: -21%;
}
.left_sidebar_sticky{
    /* border: 1px solid lightgray; */
    color: var(--pink-color);
    width: 16%;
    margin: 2%;
    position: sticky;
    top: 0;
}
.left_sidebar_sticky p{
    padding: 3%;
    color: var(--lightgray);
}
/* .left_sidebar_sticky i{
    
} */
#midh4{
    color: black;    
}
.new_arrival_contaner{
    padding: 2%;
}
.deal_of_the_day1{
    margin-left: 23%;
    color: lightgray;
    margin-bottom: 2%;
}
.deal_of_the_day{
    border: 1px solid lightgray;
    border-radius: 2vh;
    margin-left: 23%;
}
.shampoo{
    /* border: 1px solid; */
    width: 40%;
    float: left;
}
.shampoo_text{
    padding: 12%;
}
.shampoo_text i{
    color: orange;
    padding-bottom: 1.5%;
}
.shampoo_text h4{
    padding-bottom: 1%;
}
.shampoo_text p{
    color: var(--lightgray);
}
.shampoo_text h2{
    padding: 2%;
    color: var(--pink-color);
}
.shampoo_text button{
    background-color: var(--pink-color);
    border: 10px solid var(--pink-color);
    border-radius: 2vh;
    color: white;
    font-size: small;
    
}
.new_products{
    /* float: right; */
    /* width:77%; */
    margin-left: 23%;
    color: lightgray;
    padding: 2%;
    padding-right: initial;
}
.new_products_div{
    /* border: 1px solid; */
    /* float: right; */
    /* width: 77%; */
    margin-left: 23%;
    height: fit-content;
    display: flex;
    flex: wrap;
    flex-direction: row;
    
}
.products{
    border: 1px solid lightgray;
    /* border-radius: 1vh; */
    width: 26%;
    margin: 1.5%;
}
.products img{
    width: 100%;
}
.products h5{
    color: var(--pink-color);
}
.products p{
    color: var(--lightgray);
}
.products i{
    color: orange;
    padding-top: 1vh;
    padding-bottom: 1vh;
}
.footer_img_div{
    /* border: 1px solid; */
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 7vh;
}
.footer_img{
    /* border: 1px solid; */
    width: 18%;
    padding: 3vh;
}
.footer_img img{
    width: 100%;
    border-radius: 2vh;
}
.footer_img h5{
    color: var(--pink-color);
}
.footer_img p{
    color: var(--lightgray);
}
.dark_footer{
    border: 1px solid;
    background-color: black;
    width: 100%;
    float: right;
    color: lightgray;
}
/* .footer_bar{
    border: 2px solid blue;
    width: 390px;
    height: 6vh;
    position: sticky;
    bottom: 0;
} */

/* For Mobile Screen */

@media only screen and (max-width:420px) {
    .header1{
        width: 100%;
    }
    .header1 i, .p_right, .header2_right, .header2 input, .category, .left_sidebar_sticky, .footer_img_div{
        display: none;
    }
    .horizontal_div{
        display: block;
    }
    .mid_big_div{
        display: block;
        margin: 0;
        margin-top: 90%;
    }
    .new_products, .deal_of_the_day, .deal_of_the_day1{
        margin-left: 4%;
        width: 100%;
    }
    .new_products_div{
        margin-left: 8%;
        flex-wrap: wrap;
    }
    .products{
        width: 40%;
    }

}


/* For Tab Screen */

@media only screen and (min-width:421px) and (max-width:821px){
    .header1, .p_mid, .p_right{
        margin: 0.5vh;
        font-size: xx-large;
    }
    .header1, .header2, .big_img{
        width: 134vh;
    }
    .header1 i, .header2_right, .category, .left_sidebar_sticky, .footer_img_div, #extra_item{
        display: none;
    }
    .logo{
        font-size: xx-large;
    }
    #small_box{
        width: 45%;
    }
    .horizontal_div{
        /* border: 1px solid; */
        margin-left: 15%;
        width: 1350px;
        height: auto;
        flex-wrap: wrap;
    }
    
    .mid_big_div{
        /* border: 1px solid; */
        margin: 0;
        width: 115vh;
        margin-left: 15%;
    }
    .small_box{
        width: 50vh;
    }
    .small_box h6{
        margin-left: -18%;
    }
    .new_products, .deal_of_the_day, .deal_of_the_day1{
        margin-left: 15%;
        width: 110vh;
    }
    .new_products_div{
        /* border: 1px solid blue; */
        flex-wrap: wrap;
        width: 100vh;
    }
    .products{
        width: 45vh;
    }
    .dark_footer{
        border: 5px solid green;
    }
}









